<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>WIFI-Projekte</title>
</head>
<body>
    <h1>Hier werden die Wifi Projekte hochgeladen</h1>
    <p>Diese Seite ist noch im Aufbau.</p>

    <input type="radio" name="theme" id="deep-purple" checked="checked">
    <br>
    <input type="radio" name="theme" id="gold" checked="checked">
    <br>
    <input type="radio" name="theme" id="space-black" checked="checked">
    <br>
    <input type="radio" name="theme" id="silver" checked="checked">



</body>
</html> 

